

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
  font-family: "Raleway"; 
  /* background-color: #023; */
  background-color: #fff;
}

body{
  /* background-color: #023; */
  position: relative;
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 120vh; */
}
.MAIN{
  color:#E5AF10;
}
.custom-navbar {
  background-color: #fff;
  color: #000;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.custom-navbar button{
  border-radius: 10px;
  text-decoration: none;
  color:#000;
  border:1px solid #E5AF10;
  transition:all 0.5s ease;
}

.custom-navbar button:hover{
  background-color:#E5AF10 ;
  color:#fff;
}
.wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  align-items: center;
  justify-content:space-around;

}
.content{
  display: flex;
}

u{
  color:#E5AF10;
}

.custom-btn {
  border-radius: 10px;
  background-color: white;
  color: black;
  border: 1px solid #E5AF10;
  transition: background-color 0.3s ease;
  padding: 0.5rem 2rem;
  min-width: 150px;
  text-align: center;
}

.custom-btn:hover {
  background-color: #E5AF10;
  color: white;
}

.custom-link {
  color: #E5AF10;
  font-weight: 600;
}

.custom-link:hover {
  color: #b98d0b;
}
.btn-round {
  border-radius: 50% !important;
  width: 35px;
  height: 35px;
  padding: 0;
  text-align: center;
  border:3px;
}

.category-scroll::-webkit-scrollbar {
  display: none;
}
.category-scroll {
  -ms-overflow-style: none; 
  scrollbar-width: none;   
}

.category-btn {
  color: black;
  background: none;
  border: none;
  font-weight: 600;
  white-space: nowrap;
  position: relative;
}

.category-btn.active-cat {
  border-bottom: 3px solid #E5AF10; 
}

.category-btn:hover {
  color: #ffc107;
  cursor: pointer;
}




